/* Header */

.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./resources/Banner\ Image.png);
  background-position: center;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: 50px auto;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.hny {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.celebration {
  margin-top: 0px;
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
}

.discount-content {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.off {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.holiday {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}

.category {
  margin-top: 16px;
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ny {
  margin-top: 48px;
  width: 802.9px;
  height: 500px;
}

.welcome-content {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(resources/Vectorrr.png);
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  border-radius: 20px;
  margin: 120px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.midnight {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  margin-top: 126px;
  margin-left: 126px;
  margin-bottom: 0px;
}

.midnight-text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 24px;
  margin-left: 126px;
}

.image2024 {
  width: 319.83px;
  height: 464.662px;
  margin-top: 68px;
  margin-right: 138px;
  margin-bottom: 0px;
}

.join-button {
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 142px;
  margin-left: 126px;
}

.location-details {
  width: 1320px;
  height: 482px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  margin: 120px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
}

.location-place {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.location-info {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
  margin-bottom: 0px;
  margin-top: 100px;
}

.details {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.location-info1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
  margin-bottom: 0px;
  margin-top: 10px;
}

.location-info2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
  margin-top: 10px;
}

.join-button-2 {
  margin-top: 0px;
}

.jb2 {
  width: 167px;
  height: 56px;
  background-color: #f00;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
}

.bonus1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px auto;
}

.comingsoon {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.offer {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.coming {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.comingpara {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 393px;
}

.ellipse {
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 35px;
}

.r2024 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.greet2024 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 276px;
}
.giftbox {
  width: 140px;
  height: 140px;
}
.gifts {
  display: flex;
  justify-content: center;
}

.gift-contents {
  display: flex;
  flex-direction: column;
  margin: 40px;
  margin-top: 120px;
}

.best {
  color: rgb(195, 0, 255);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}

.awesome {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 0px;
}

.para {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-top: 16px;
  margin-bottom: 0px;
}

.portfolio-pictures {
  display: flex;
  gap: 20px;
}

.picture {
  width: 424px;
  height: 450px;
  margin-bottom: 20px;
  margin-top: 48px;
}

.subscribe {
  width: 1320px;
  height: 616px;
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 120px auto;
}

.subcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;
  margin-bottom: 0px;
}

.subtext {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 0px;
}

.subpara {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 896px;
  margin-top: 22px;
  margin-bottom: 0px;
}

.letter {
  width: 150px;
  height: 150px;
  margin-bottom: 0px;
}

.inputbutton {
  margin-top: 48px;
}

.inp {
  width: 438px;
  height: 72px;
  border-radius: 50px 0px 0px 50px;
  border: none;
}
.inputbutton ::placeholder {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-right: 250px;
}
.buttonsub {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background-color: #f00;
  border: none;
}

.bonus-section {
  width: 1320px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.what {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}

.holi {
  color: #f00;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 28px;
  margin-bottom: 0px;
}

.sale50 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.holiseason {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  margin-top: 28px;
}

.bannerparent {
  position: relative;
  width: 1320px;
  height: 800px;
  margin-bottom: -100px;
}

.banner1 img {
  position: absolute;
  right: 0px;
  bottom: 229px;
}

.banner2 img {
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 0px;
}

.banner3 img {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.banner4 img {
  position: absolute;
  bottom: 280px;
  right: 290px;
}

/* Footer section */

.beforebackdrop {
  margin: 120px auto;
  margin-bottom: 0px;
  width: 1400px;
}

.backdrop {
  background-color: #070211;
  height: 700px;
}

.padding {
  padding: 120px 140px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 98px;
}

.florida {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  margin-bottom: 0px;
}

.logo {
  width: 24px;
  height: 24px;
  margin: 0px;
  margin-right: 16px;
}

.text {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  margin: 0px;
}

.top {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hr1 {
  border-color: rgba(202, 177, 177, 0.15);
  width: 1320px;
  height: 1px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.rights {
  display: flex;
  justify-content: space-between;
  margin: 0px 120px;
  margin-top: 98px;
  margin-bottom: 120px;
}

.s2017 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
